.card{
    transition:all 400ms;
    z-index: 10;
    transform: scale(1); 
    /* text-shadow: 3px 3px 8px rgba(0,0,0,0.6); */
}
.card:hover .cardicon{
    background-image: linear-gradient(30.55deg, #6ac7ff 11.05%, #148aff 90.09%);
    box-shadow: 0px 2px 22px rgb(202 202 202 / 25%);
    transform: scale(0.8);
    
}
.card:hover .outersvg{
    filter: drop-shadow(0px 2px 22px rgba(202, 202, 202, 0.25));
    transform: scale(1.02);
    stroke-opacity: 0 !important;
}
.card:hover .feature2svg{
    filter: drop-shadow(0px 2px 50px rgba(24, 27, 47));
    transform: scale(1.02);
    stroke-opacity: 0 !important;
}

/* .s3{
    background-image: url(myassets/feature-section-2BG.svg)
} */

.corefeaturesection{
    background-size: 100% 100%;
    padding-bottom: 100px;
    
}
.moveImg{
    animation: 15s infinite linear movImage;
}
@keyframes movImage{
    0%{
        top:0;
    }
    100%{
        top:-60%;
    }
    
}